@font-face{
    font-family:airbnb cereal;
    src:url(font/AirbnbCereal-Medium.ttf);
}
body{
    background: #f34949;
}
.drop-view-top{
    position: absolute;
    top:200px;
    left:200px;
    width:35px;
    height:30px;
    border-radius: 50%;
    border:7px solid white;
    border-right: 5px solid transparent;
    transform: rotateZ(90deg);
}
.drop-view-left{
    position: absolute;
    top:231px;
    left:215px;
    width:0px;
    height:22px;
    border:3px solid white;
    transform: rotateZ(-40deg);
}
.drop-view-right{
    position: absolute;
    top:230px;
    left:227px;
    width:0px;
    height:22px;
    border:3px solid white;
    transform: rotateZ(40deg);
}
.body-left{
    position: absolute;
    top:223px;
    left:152px;
    width:55px;
    height:55px;
    border:6px solid white;
    border-right: 6px solid transparent;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 70%;
    transform: rotateZ(-60deg);
}
.body-right{
    position: absolute;
    top:223px;
    left:228px;
    width:55px;
    height:55px;
    border:6px solid white;
    border-left: 6px solid transparent;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 70%;
    transform: rotateZ(60deg);
}
.body-left-line{
    position: absolute;
    top:142px;
    left:212px;
    width:12px;
    height:12px;
    border:6px solid white;
    border-top: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom-left-radius: 45%;
    transform: rotateZ(135deg);
}
.body-right-line{
    position: absolute;
    top:147px;
    left:190px;
    width:0px;
    height:70px;
    border:3px solid white;
    transform: rotateZ(31deg);
}
.top-drop-view{
    position: absolute;
    top:147px;
    left:251px;
    width:0px;
    height:70px;
    border:3px solid white;
    transform: rotateZ(-31deg);
    
}
.logo-header{
    position: absolute;
    top:300px;
    left:90px;
    color: white;
    font-size:100px;
    font-family: airbnb cereal;
}