body{
    background: #f34949;
}
.drop-view{
    position: absolute;
    top:200px;
    left:200px;
    width:35px;
    height:30px;
    border-radius: 50%;
    border:7px solid white;
    border-right: 5px solid transparent;
    transform: rotateZ(90deg);
}
.part1{
    position: absolute;
    top:230px;
    left:214px;
    width:0px;
    height:22px;
    border:3px solid white;
    transform: rotateZ(-40deg);
}
.part2{
    position: absolute;
    top:230px;
    left:227px;
    width:0px;
    height:22px;
    border:3px solid white;
    transform: rotateZ(40deg);
}
.part3{
    position: absolute;
    top:225px;
    left:147px;
    width:55px;
    height:55px;
    border:6px solid white;
    border-right: 6px solid transparent;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 70%;
    transform: rotateZ(-56deg);
}