body{
    margin:0px;
    width:500px;
    height:500px;
    background: red;
}
.part1{
    padding-left:10px; 
    position: absolute;
    left:50px;
    top:20px;
    border:30px solid yellow;
    border-radius:220%; 
    width:45px;
    height:350px;
    border-bottom-left-radius: 0%;
    /* border-bottom-right-radius: 50px; */
    border-right-color: transparent;
    border-bottom-style: none;
    border-top-style: solid;
    border-top-right-radius:70%;
}
.part2{
    padding-left:10px; 
    position: absolute;
    left:105px;
    top:20px;
    border:30px solid yellow;
    border-radius:220%; 
    width:30px;
    height:320px;
    border-bottom-right-radius: 0%;
    border-left-color: transparent;
    border-bottom-style: none;
    border-top-style: solid;
    border-top-left-radius:90%;
    
}
.part3{
    padding-left:10px; 
    position: absolute;
    left:200px;
    top:20px;
    border:30px solid yellow;
    border-radius:220%; 
    width:30px;
    height:320px;
    border-bottom-left-radius: 0%;
    border-right-color: transparent;
    border-bottom-style: none;
    border-top-style: solid;
    border-top-right-radius:90%;
}
.part4{
    padding-left:10px; 
    position: absolute;
    left:241px;
    top:20px;
    border:30px solid yellow;
    border-radius:220%; 
    width:45px;
    height:350px;
    border-bottom-right-radius: 0%;
    /* border-bottom-right-radius: 50px; */
    border-left-color: transparent;
    border-bottom-style: none;
    border-top-style: solid;
    border-top-left-radius:70%;
}
