.part1{
    position: absolute;
    border:30px solid yellow;
    border-radius:150%; 
    width:90px;
    height:300px;
    border-bottom-left-radius: 0%;
    /* border-bottom-right-radius: 50px; */
    border-right-color: transparent;
    border-bottom-style: none;
    border-top-style: solid;
    border-top-right-radius:45%;
    
}