.logo--quarterone{
    position: absolute;
    top:166px;
    left:166px;
    width: 92px;
    height: 92px;
    background: #005792;
    border-radius: 90px 0 0 0;
    transform: rotateZ(0deg);
}
.logo--outercirclepart{
    position: absolute;
    top:100px;
    left:100px;
    width: 200px;
    height: 200px;
    border: 60px solid black;
    border-radius: 50%;
}
.logo--quarterthree{
    position: absolute;
    top:261px;
    left:261px;
    width: 93px;
    height: 93px;
    background: #005792;
    border-radius: 90px 0 0 0;
    transform: rotateZ(-180deg);
}
.logo--innercirclepart{
    position: absolute;
    top:162px;
    left:162px;
    width:188px;
    height: 188px;
    border-radius: 50%;
    border:4px solid #929aab;
}
.logo--horizontalpart{
    position: absolute;
    top:258px;
    left:163px;
    width:192px;
    height:3px;
    background: #929aab;
}
.logo--verticalpart{
    position: absolute;
    top:165px;
    left:258px;
    width:3px;
    height:192px;
    background: #929aab;
}
.logo--outercircleborder{
    position: absolute;
    top:100px;
    left:100px;
    width:315px;
    height:315px;
    border-radius: 50%;
    border:4px solid #929aab;
}
.logo--caption-letter-B{
    position: absolute;
    top:145px;
    left:142px;
    font-size:60px;
    font-weight: bolder;
    color:white;
    transform: rotateZ(-51deg);
    font-family: Arial, Helvetica, sans-serif;
}
.logo--caption-letter-M{
    position: absolute;
    top:100px;
    left:235px;
    font-size:60px;
    font-weight: bolder;
    color:white;
    transform: rotateZ(0deg);
    font-family: Arial, Helvetica, sans-serif;
}
.logo--caption-letter-W{
    position: absolute;
    top:152px;
    left:334px;
    font-size:60px;
    font-weight: bolder;
    color:white;
    transform: rotateZ(53deg);
    font-family: Arial, Helvetica, sans-serif;
}
