button {
    cursor: pointer;
}
body{
    margin:0px;
}
a{
    text-decoration: none;
    color:black;
}
.top-row{
    display: flex;
    position:fixed;
    width: 100%;
}
.logo{
    display: flex;
    align-self:flex-start;
    width:40px;
    height:40px;
    padding-top:10px;
    
}
.splash{
    padding-left:20px;
    padding-top:20px;
    font-weight:700;
    font-family: sans-serif;
}
.form-search-box{
    padding-top:8px;
    width:400px;
}
.search_box{
    display: flex;
    margin-top:5px; 
    padding-top:2px;
    margin-left:30px;
    border: 2px solid black;
    border-radius: 20px;
}  
.search_button{
    box-shadow: none;
    background-color: transparent;
    border: none; 
    outline: none;
}
.search_box_content{
    display: flex;
    flex-grow:1;
    height:30px;
    width:100%;
    padding-left:5px;
    padding-bottom:5px;
    border: none;
    box-shadow: none;
    color:black;
    outline: none;
}
.search_box_content::-webkit-search-cancel-button{
    display:none;
}

.search_image{
    
    margin-left:5px;
    width:12px;
    height:12px;
}
.clear_image{
    width:10px;
    height:10px;
}
.list-items-contents{
    padding-left:0px;
    display: flex;
    font-family: sans-serif;
    color:black;
}
.list-items-content{
    align-self: center;
    padding-left:35px;
    padding-top:5px;
    list-style: none;
    outline: none;
    border: none;
}
.button_content{
    padding-left:10px;
    padding-right:10px;
    padding-top:-5px;
    padding-bottom:3px;
    box-shadow: none;
    background-color: transparent;
    border: 3px solid black; 
    color: black;
    border-radius: 20px;
    outline: none;
}
.button_content:focus,.button_content:hover{
    outline: 0;
}

.more_content{
    box-shadow: none;
    background-color: transparent;
    outline: none;
    border: none;
}
