body{
    
    background: black;
}
.part1{
    position: relative;
    width:0px;
    height:0px;
    top:157px;
    left:205px;
    border-left:15px solid transparent;
    border-bottom:100px solid silver;
    border-right:15px solid transparent;
    transform: rotateZ(-120deg);
}
.part2{
    position: relative;
    width:0px;
    height:0px;
    top:-28px;
    left:255px;
    border-left:15px solid transparent;
    border-bottom:100px solid silver;
    border-right:15px solid transparent;
    transform: rotateZ(0deg);
}
.part3{
    position: relative;
    width:0px;
    height:0px;
    top:-43px;
    left:305px;
    border-left:15px solid transparent;
    border-bottom:100px solid silver;
    border-right:15px solid transparent;
    transform: rotateZ(120deg);
}
.part4{
    position: relative;
    width:0px;
    height:0px;
    top:-130px;
    left:255px;
    border-left:15px solid transparent;
    border-top:25px solid silver;
    border-right:15px solid transparent;
}
.part5{
    position: relative;
    width:0px;
    height:100px;
    top:-247px;
    left:269px;
    border: 1px solid black;
}
.part6{
    position: relative;
    width:0px;
    height:99px;
    top:-272px;
    left:224px;
    border: 1px solid black;
    transform: rotateZ(60deg);
}
.part7{
    position: relative;
    width:0px;
    height:99px;
    top:-373px;
    left:313px;
    border: 1px solid black;
    transform: rotateZ(-60deg);
}
.part8{
    position: absolute;
    width:205px;
    height:205px;
    top:78px;
    left:166px;
    border-radius: 50%;
    border: 8px solid #bcbab8;
}
.part9{
    position: absolute;
    width:0px;
    height:18px;
    top:172px;
    left:270px;
    border: 1px solid black;
    transform: rotateZ(-57deg);
}
.part10{
    position: absolute;
    width:0px;
    height:17px;
    top:172px;
    left:285px;
    border: 1px solid black;
    transform: rotateZ(59deg);
}
.part11{
    position: absolute;
    width:0px;
    height:22px;
    top:180px;
    left:277px;
    border: 1px solid black;
    
}