body{
    background: #fd0054;
}
.part1{
    position: relative;
    top:50px;
    left:100px;
    width: 200px;
    height: 100px;
    border-left: 60px solid black;
    /* border-right: 20px solid red; */
    /* border-bottom-left-radius: 70%; */
    border-radius: 50%;
    border-bottom-left-radius: 60%;
    transform: rotateZ(-50deg);
    /* border-bottom-left-radius: 45%; */
}
.part2{
    position: absolute;
    width:0px;
    height:0px;
    left:296px;
    top:-16px;
    border-left:20px solid transparent;
    border-bottom:300px solid black;
    border-right:20px solid transparent;
    transform: rotateZ(68deg);
}